absl-py==2.5.0
astunparse==1.6.3
audioread==3.1.0
blinker==1.9.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
decorator==5.3.1
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
flatbuffers==25.12.19
fonttools==4.66.0
gast==0.7.0
google-pasta==0.2.0
greenlet==3.5.6
grpcio==1.84.0
h5py==3.16.0
idna==3.20
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
keras==3.15.1
kiwisolver==1.5.1
lazy-loader==0.6
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.49.0
Markdown==3.10.3
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.4.1
msgpack==1.2.2
namex==0.1.0
numba==0.67.0
numpy==2.0.2
opt_einsum==3.4.0
optree==0.20.0
packaging==26.3
pandas==2.2.3
pillow==12.3.0
platformdirs==4.11.12
plotly==5.24.1
pluggy==1.6.0
pooch==1.9.0
protobuf==5.29.6
pycparser==3.0
Pygments==2.21.0
PyMySQL==1.1.1
pyparsing==3.3.3
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2026.4
requests==2.34.2
rich==15.0.0
scikit-learn==1.5.2
scipy==1.14.1
six==1.17.0
soundfile==0.12.1
soxr==1.1.0
SQLAlchemy==2.0.54
tenacity==9.1.4
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==3.3.0
threadpoolctl==3.7.0
typing_extensions==4.16.0
tzdata==2026.4
urllib3==2.8.0
Werkzeug==3.1.8
wrapt==2.4.1
